.queue-entry {
    font-size: 30px;
    border: solid;
    border-width: 1px 0;
    border-color: lightgray;
}

.queue-entry td {
    padding: 30px;
}

.queue {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: 5%;
    width: 50%;
}

.page-header {
    font-size: xx-large;
    margin-left: 30px;
}

.active {
    background-color: beige;
}

.now-playing {
    margin-right: 100px;
    width: 30%
}

.now-playing img {
    height: 300px;
}

.now-playing div {
    margin-top: 10px;
    font-size: xx-large;
}

.play-area {
    display: flex;
    justify-content: center;
}