.queue-entry {
    font-size: 30px;
    border: solid;
    border-width: 1px 0;
    border-color: lightgray;
}

.queue-entry td {
    padding: 30px;
}

.queue-entry td i.fa.fa-play{
    padding-right: 10px;
    display: none;
}

.active {
    background-color: beige;
}

.active td i.fa.fa-play {
    display: inline-block;
}

.queue {
    border-collapse: collapse;
    position: relative;
    top: 500px;
    /*margin-right: auto;
    margin-left: 5%;
    width: 50%;*/
}

.page-header {
    font-size: xx-large;
    margin-left: 30px;
}

.now-playing {
    margin-right: 100px;
    width: 30%
}

.now-playing img {
    height: 300px;
}

.now-playing div {
    margin-top: 5px;
    font-size: xx-large;
}

.play-area {
    display: flex;
    justify-content: center;
}

.queue-scroll {
    height: 1000px;
    overflow: hidden;
}