.queue-entry {
    font-size: 30px;
    border: solid;
    border-width: 1px 0;
    border-color: lightgray;
}

.queue-entry td {
    padding: 30px;
}

.queue-entry td i.fa.fa-play{
    padding-right: 10px;
    display: none;
}

.active {
    background-color: beige;
}

.active td i.fa.fa-play {
    display: inline-block;
}

.queue {
    border-collapse: collapse;
    position: relative;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition: top 0.5s;
    top: 0px;
    width: 100%;
}

.page-header {
    font-size: xx-large;
    border-radius: 10px;
    background-color: mintcream;
    padding: 3px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.now-playing {
    background-color: mintcream;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 30px;
    border-radius: 5px;
    display: inline-block;
    padding-bottom: 15px;
    /*margin-bottom: 8%;*/
}

.now-playing img {
    height: 300px;
}

.now-playing div {
    margin-top: 5px;
    font-size: xx-large;
}

.play-area {
    display: flex;
    justify-content: space-around;
    height: 85vh;
}

.queue-scroll {
    overflow: hidden;
    background-color: mintcream;
    margin-top: 30px;
    border-radius: 5px;
    width: 70%;
}

.queue-scroll p {
    font-size: xx-large;
    text-align: center;
}

html {
    background-color: rgba(0, 84, 173, 0.7);
}